<% page_title "Edit Teacher Profile | TeacherTimeClock" %>

<div class="container row">
  <div class="col s12 m6 offset-m3 l6 offset-l3 form-card">
    <div class="col s12">
      <h4>Edit Teacher Profile</h4></br>
    </div>
    <div class="col s12">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "shared/devise_error_messages", resource: resource %>
        <div class="col s12 form-field">
          <%= f.label :name, "Name" %>
          <%= f.text_field :name, id: "name-field", value: resource.name.present? ? resource.name : "" %>
        </div>
        <div class="col s12 form-field">
          <%= f.label :email, "E-mail" %>
          <%= f.email_field :email, id: "email-field", value: resource.email.present? ? resource.email : ""  %>
        </div>
        <div class="col s12 form-field">
          <%= f.label :current_password, "Current Password" %>
          <%= f.password_field :current_password, id: "password-field", autocomplete: "off", type: "password" %>
        </div>
        <div class="col s12">
          <%= f.submit "Update", id: "submit-data", class: "col s12 l8 offset-l2 btn btn-default btn-blue" %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="col s12">
    <%= link_to "Cancel account", registration_path(resource), method: :delete, class: "col s6 m3 l3 btn btn-default btn-red right" %>
  </div>
</div>