<% page_title "Sign up | TeacherTimeClock" %>

<div class="container row">
  <div class="col s12 m6 offset-m3 l6 offset-l3 form-card margin-top-80">
    <div class="col s12">
      <h4>Sign up</h4>
      <h6><%= resource.class.name %></h6>
    </div>
    <div class="col s12">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "shared/devise_error_messages", resource: resource %>
        <div class="col s12 form-field">
          <%= f.label :name, "Name" %>
          <%= f.text_field :name, id: "name-field" %>
        </div>
        <div class="col s12 form-field">
          <%= f.label :email, "E-mail" %>
          <%= f.email_field :email, id: "email-field" %>
        </div>
        <div class="col s12 form-field">
          <%= f.label :password, "Password" %>
          <%= f.password_field :password, id: "password-field", autocomplete: "off", type: "password" %>
        </div>
        <div class="col s12">
          <%= f.submit "Sign up", id: "submit-data", class: "col s12 l8 offset-l2 btn btn-default btn-blue" %>
        </div>
      <% end %>
    </div>
  </div>
</div>