<% page_title "Edit Clock Event | TeacherTimeClock" %>

<div class="container row">
  <div class="col s12 m6 offset-m3 l6 offset-l3 form-card">
    <div class="col s12">
      <h4>Edit Clock Event</h4></br>
    </div>
    <div class="col s12">
      <%= form_for @clock_event do |f| %>
        <div class="col s12 form-field">
          <%= f.label :name, "Datetime" %>
          <%= f.text_field :created_at, id: "datetime-field", value: @clock_event.created_at.present? ? @clock_event.created_at.strftime("%d/%m/%Y - %I:%M:%S %p") : "", autocomplete: "off" %>
        </div>
        <div class="col s12">
          <%= f.submit "Update", id: "submit-data", class: "col s12 l8 offset-l2 btn btn-default btn-blue" %>
        </div>
      <% end %>
    </div>
  </div>
</div>