<% page_title "What would you like to do today? | TeacherTimeClock" %>

<div class="container row">
  <div class="col s12">
    <div class="col s12 center home-title">
      <h4>What would you like to do today?</h4>
    </div>
    <div class="col s10 offset-s1 m8 offset-m2 l8 offset-l2 center">
      <div class="col s12 m6 l6">
        <%= link_to new_teacher_registration_path do %>
          <div class="home-card">
            <div class="card-icon">
              <%= image_tag "new-teacher.svg", alt: "Freepik Flaticon Admin" %>
            </div>
            <p>Sign up</p>
          </div>
        <% end %>
      </div>
      <div class="col s12 m6 l6">
        <%= link_to new_teacher_session_path do %>
          <div class="home-card">
            <div class="card-icon">
              <%= image_tag "time-clock.svg", alt: "Freepik Flaticon Teacher" %>
            </div>
            <p>Sign in</p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>