<% page_title "Clock Events List | TeacherTimeClock" %>

<div class="container row">
  <div class="col s10 offset-s1 time-clock-datatable-card">
    <div class="col s12 m10 l10" >
      <h4><%= current_teacher.name %> - Time Clock</h4>
    </div>
    <% if current_teacher.clock_events.empty? || current_teacher.clock_events.last.event_type.out? %>
      <%= link_to "Clock-in", clock_events_path, method: :post, class: "col s6 m2 l2 btn btn-default btn-green right" %>
    <% else %>
      <%= link_to "Clock-out", clock_events_path, method: :post, class: "col s6 m2 l2 btn btn-default btn-red right" %>
    <% end %>
    <table id="clock-events-datatable" data-source="<%= teacher_time_clock_path(format: :json) %>" cellspacing="0" width="100%" class="striped">
      <thead>
        <tr>
          <th>datetime</th>
          <th>type</th>
          <th>actions</th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <th>datetime</th>
          <th>type</th>
          <th>actions</th>
        </tr>
      </tfoot>
      <tbody>
      </tbody>
    </table>
  </div>
</div>