$break-small: 660px;
$break-large: 1025px;

@mixin respond-to($media) {
  @if $media == handhelds {
    @media only screen and (max-width: $break-small) { @content; }
  }
  @else if $media == medium-screens {
    @media only screen and (min-width: $break-small + 1) and (max-width: $break-large - 1) { @content; }
  }
  @else if $media == wide-screens {
    @media only screen and (min-width: $break-large) { @content; }
  }
}

.btn-default {
  box-shadow: none !important;
  border-radius: 10px;
  color: white;
  margin: 30px auto;
  height: 3em;
  line-height: 3em;
  font-weight: 600;
}

.btn-blue {
  border: 1px solid #34b9c6;
  background-color: #34b9c6;

  &:hover, &:focus {
    background-color: #29939e;
  }
}

.btn-green {
  border: 1px solid #48ca3b;
  background-color: #48ca3b;

  &:hover, &:focus {
    background-color: #39a12f;
  }
}

.btn-red {
  border: 1px solid #ca3b48;
  background-color: #ca3b48;

  &:hover, &:focus {
    background-color: #a12f39;
  }
}

.btn-ghost {
  box-shadow: none !important;
  border-radius: 20px;
  border: 1px solid #666;
  display: initial;
  color: #666;
  padding: 10px 15px; 
  height: 3em;

  a, &:hover, &:focus {
    color: darken(#666, 20%);
    background: none;
    transition: color .3s;
  }
}