$break-small: 660px;
$break-large: 1025px;

@mixin respond-to($media) {
  @if $media == handhelds {
    @media only screen and (max-width: $break-small) { @content; }
  }
  @else if $media == medium-screens {
    @media only screen and (min-width: $break-small + 1) and (max-width: $break-large - 1) { @content; }
  }
  @else if $media == wide-screens {
    @media only screen and (min-width: $break-large) { @content; }
  }
}

input:not([type]):focus:not([readonly]), input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
  box-shadow: none !important;
}

.form-card {
  border-radius: 10px;
  border: 1px solid grey;
  margin-top: 40px;

  h4 {
    color: #222;
    margin: 30px auto 0 auto;
    font-size: 28px;
    text-align: center;
    font-weight: 600;

    @include respond-to(handhelds) {
      font-size: 20px;
    }
  }

  h6 {
    color: #585858;
    margin: 5px auto;
    font-size: 14px;
    text-align: center;

    @include respond-to(handhelds) {
      font-size: 16px;
    }
  }
}

.form-field {
  position: relative;

  label {
    color: #222;
    font-size: 20px;
    font-weight: 20px;
  }

  input {
    border-radius: 10px !important;
    border: 1.5px solid #dcd5d5 !important;
    margin: 10px auto !important;
    height: 3.25rem !important;
    font-size: 1.2rem !important;
    text-indent: 10px !important;

    @include respond-to(handhelds) {
      height: 3.5rem !important;
    }
  }
}

.form-error-warning {
  position: absolute;
  left: 0;
  display: none;
  height: 22px;
  padding-left: 10px !important;
  color: #F44336;
  font-size: 12px;

  i {
    font-size: 12px;
  }

  span {
    vertical-align: text-bottom;
    padding-left: 3px;
  }
}

input.invalid {
  border: 1.3px solid #F44336 !important;
}