$break-small: 660px;
$break-large: 1025px;

@mixin respond-to($media) {
  @if $media == handhelds {
    @media only screen and (max-width: $break-small) { @content; }
  }
  @else if $media == medium-screens {
    @media only screen and (min-width: $break-small + 1) and (max-width: $break-large - 1) { @content; }
  }
  @else if $media == wide-screens {
    @media only screen and (min-width: $break-large) { @content; }
  }
}
  
.home-title {
  margin: 80px auto 20px auto;

  @include respond-to(handhelds) {
    margin-top: 40px;
  }

  h4 {
    font-weight: 600;
    font-size: 2.7em;

    @include respond-to(handhelds) {      
      font-size: 2.3em;
    }
  }
}
  
.home-card {
  border: 2px solid #e0e0e0;
  border-radius: 10px;
  margin: 10px 5px;
  padding: 5px;
  color: #222;

  @include respond-to(wide-screens) {
    margin: 10px 15px;
  }
  
  &:hover {
    background-color: darken(#fff, 5%);
    border: 2px solid darken(#e0e0e0, 10%);
  }

  p {
    font-size: 20px;
    font-weight: 600;
    color: #666;
  }

  .card-icon {
    margin-top: 20px;
    padding: 10px;
  
    @include respond-to(handhelds) {
      padding: 0;
    }
  
    @include respond-to(medium-screens) {
      padding: 0;
    }
  
    img {
      height: 120px;
  
      @include respond-to(handhelds) {
        height: 100px;
      }
    }
  }
}