$break-small: 660px;
$break-large: 1025px;

@mixin respond-to($media) {
  @if $media == handhelds {
    @media only screen and (max-width: $break-small) { @content; }
  }
  @else if $media == medium-screens {
    @media only screen and (min-width: $break-small + 1) and (max-width: $break-large - 1) { @content; }
  }
  @else if $media == wide-screens {
    @media only screen and (min-width: $break-large) { @content; }
  }
}

nav {
  height: 64px;
  line-height: 64px;
  padding: 0 5%;
  box-shadow: none;
  border-bottom: #e9e9e9 solid 1px;

  @include respond-to(handhelds) {
    height: 56px;
    line-height: 56px;
    padding: 0 20px;
  }
}

.logo {
  width: 45px;
  margin-top: 10px;

  @include respond-to(handhelds) {
    margin-top: 5px;
  }
}

.navbar-item {
  display: initial;
  padding: 10px 15px;
  color: #888;
  font-size: 14px;
  font-weight: 400;

  &:hover {
    color: darken(#666, 20%);
    background: none;
    transition: color .3s;
  }
}