$break-small: 660px;
$break-large: 1025px;

@mixin respond-to($media) {
  @if $media == handhelds {
    @media only screen and (max-width: $break-small) { @content; }
  }
  @else if $media == medium-screens {
    @media only screen and (min-width: $break-small + 1) and (max-width: $break-large - 1) { @content; }
  }
  @else if $media == wide-screens {
    @media only screen and (min-width: $break-large) { @content; }
  }
}

.time-clock-datatable-card {
  border: 2px solid #e0e0e0;
  border-radius: 10px;
  margin-top: 40px;
  padding: 5px;
}

a.grey-link {
  color: #666;
  text-decoration: underline;
}

a.red-link {
  color: #ca3b48;
  text-decoration: underline;
}