<div id="navbar">
  <nav class="white" role="navigation">
    <%= image_tag "logo.png", alt: "Logo", class: "logo left" %>
    <ul class="right">
      <% unless (controller_name == "teachers" && action_name == "time_clock") %>
        <li><%= link_to "Time Clock", teacher_time_clock_path(current_teacher), class: "navbar-item" %></li>
      <% end %>
      <% unless (controller_name == "registrations" && action_name == "edit") %>
        <li><%= link_to "Profile", edit_teacher_registration_path, class: "navbar-item" %></li>
      <% end %>
      <li><%= link_to "Sign out", destroy_teacher_session_path, method: :delete, class: "btn-ghost" %></li>
    </ul>
  </nav>
</div>