<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Arthur Sousa">
    <meta http-equiv="Content-Language" content="en-ca">
    <meta name="theme-color" content="#34b9c6"/>

    <% if yield(:page_title).blank? %>
      <title>Keep track of teachers clock-in and clock-out times | TeacherTimeClock</title>
    <% else %>
      <title><%= yield(:page_title) %></title>
    <% end %>
    <% if yield(:meta_description).blank? %>
      <meta name="description" content="The perfect platform to keep track of teachers clock-in and clock-out times">
    <% else %>
      <meta name="description" content='<%= yield(:meta_description) %>'>
    <% end %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_teacher %>
      <%= render "layouts/navbar" %>
    <% end %>

    <% flash.each do |type, message| %>
      <%= show_toast_error(message) %>
    <% end %>

    <%= yield %>
  </body>
</html>